{% extends 'base.html.twig' %}
{% block body %}

    <h1>Ref</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ref.id }}</td>
            </tr>

            <tr>
                <th>Publication Name</th>
                <td>{{ ref.publicationId.name}}</td>
            </tr>

            <tr>
                <th>Author</th>
                <td>{{ ref.author.name}}</td>
            </tr>


            <tr>
                <th>Name</th>
                <td>{{ ref.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ref.description }}</td>
            </tr>
            <tr>
                <th>Publicationyear</th>
                <td>{{ ref.publicationYear }}</td>
            </tr>
            <tr>
                <th>Last Edit Date</th>
                <td>{{ref.lastEditDate|date('Y-m-d')}}

            </tr>


                <tr>
                <th>Created By</th>
                <td>{{ ref.ownerId}}</td>
            </tr>


            {% for refTag in refTags%}

            <tr>
                <th>
                    Tags:
                </th>
                    <td>
                        {{ refTag.tagId.TagName}}
                        <a href="{{ path('reftag_delete', { 'id': refTag.id }) }}">Remove</a>
                    </td>
            {% endfor %}
                <a href="{{ path('reftag_new', { 'ref': ref.id }) }}">Add Tag to this ref</a>

            </tr>

        </tbody>
    </table>
<h2>Referenced In</h2>

{% for bibRef in bibRefs%}

<table>
<tr>
   <td> Sequence of Ref in Bib:
        {{ bibRef.sequenceId}}
    </td>

    <td>
        {{ bibRef.bibId.bibName}}
    </td>
    <td> Private Bib:
    {% if bibRef.bibId.isPrivate %}Yes{% else %}No{% endif %}</td>
    <td>Owner: {{ bibRef.bibId.OwnerId.userName }}</td>
    <td>
        <a href="{{ path('bibref_delete', { 'id': bibRef.id }) }}">Remove Ref from Bib</a>
    </td>
    <td>
        <a href="{{ path('ref_edit', { 'id': bibRef.refId.Id }) }}">Edit Ref in Bib</a>
    </td>
    <td>
        <a href="{{ path('ref_show', { 'id': bibRef.bibId.Id }) }}">Go to Bib</a>
    </td>
    {% endfor %}
    <a href="{{ path('bibref_new', { 'ref': ref.id }) }}">Add to another bib</a>

    </tr>
    </table>

    <ul>
        <li>
            <a href="{{ path('ref_index') }}">Back to the list</a>
        </li>
        <li>

            <a href="{{ path('ref_edit', { 'id': ref.id }) }}">Edit</a>
        </li>
        <li>

            <a href="{{ path('ref_edit', { 'id': ref.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
